<%- include('header') %>

<div class="thankyou-container">
    <h1>Thank you, we received your data @<%= user %> 🙌</h1>
    <h3>Your post will be added soon!</h3>
    <a href="/posts">
        <button class="back-btn">Go back to home page</button>
    </a>
</div>

<%- include('footer') %>
